// Colors
$bg-color: #efefef;
$dot-color: #bfbfbf;

// Dimensions
$dot-size: 1px;
$dot-space: 7px;

.dot-pattern {
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}
